.tav {}
body {
	margin: 0;
	padding: 0;
	background: #D8EFFD url(http://www.aniable.com/images/aniablebase.png) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;                                     
	color: Navy;
}


a img { border: none ; }

#headline {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 10px;
  width:948px;
  height: 50px;
  border-bottom: 1px solid #4E7AC1;
}

#headline p {
}  



#wrapper {
  position: relative;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}  
#rightcol {
  position: absolute;
  top: 60px;
  right: 5px;
  padding-left: 10px;
  width: 200px;
  height: 100%
}  

#tavfooter {
	height: 40px;
	margin: 0 auto;
	border-top: 1px solid #DEDEDE;
	font-family: Arial, Helvetica, sans-serif;
	color: navy;
}

#tavfooter p {
   text-align: center;
}

#ewwrapper {
  position: relative;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}  

.logoline {
  position: relative;
  height: 82px;
  width: 100%;
}
.logoline p {
  margin: 0px;
} 

.logoline p.moby {
  position: absolute;
  left: 0px;
  top:  0px;
} 
.logoline p.yada {
  position: absolute;
  left: 110px;
  top: 0px;
}  
.logoline p.anilink {
  position: absolute;
  left: 140px;
  top: 54px;
}  

.logoline p.searcher {
  position: absolute;
  left: 708px;
  top: 28px;
}
.logoline p.button {
  position: absolute;
  left: 875px;
  top: 28px;
}

.bookshelf {
position: absolute;
left: 150px;
top:120px;
width: 800px;
height: 70px;
}


.menuspace {
  height: 50px;
  position: relative;
}

.menuspace p.marker {
 position: absolute;
 top: 10px;
 color: white;
 padding: 0px;
 margin: 0px;
}

#page {
  position: relative;
  margin-top 20px;
  padding: 10px 11px 11px 11px;
  background: #F6F6F6; 
  border-top: 2px solid #315087;
  border-left: 2px solid #315087;
  border-right: 2px solid #315087;
  border-bottom: 1px solid #315087;
}

#contentright {
    margin-top: 50px;
	margin-left: 180px;
}
#contenthome {
    margin-top: 70px;
	margin-right: 260px;
  margin-bottom: 10px;
  margin-left: 8px;
}
#contenthome p {
}

#contentfull {
  margin-top: 70px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}  

.contentbox {
 position: relative;
 width: 100%;
 height: 100%;
}


ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

ul.dropdown {
 position: relative;
 z-index: 597;
 float: left;
}

ul.dropdown li {
 float: left;
 line-height: 1.3em;
 vertical-align: middle;
 zoom: 1;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
 position: relative;
 z-index: 599;
 cursor: default;
}

ul.dropdown ul {
 visibility: hidden;
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 598;
 width: 100%;
}

ul.dropdown ul li {
 float: none;
}

ul.dropdown ul ul {
 top: 1px;
 left: 99%;
}

ul.dropdown li:hover > ul {
 visibility: visible;
}


/* ----- ALL LEVELS (incl. first) */

ul.dropdown {
 font: normal 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
 text-transform: uppercase;
}

	ul.dropdown li {
	 padding: 7px 0;
	 background-color: transparent;
	 color: #EAEBDB;
	 line-height: normal;
	}

	ul.dropdown li.hover,
	ul.dropdown li:hover {
	 
	}

	ul.dropdown a:link,
	ul.dropdown a:visited { color: #7B9CBD; text-decoration: none; font-weight: 700;}
	ul.dropdown a:hover { color: #76b900; text-decoration: none; font-weight: 700; }
	ul.dropdown a:active { color: #7B9CBD; font-weight: 700;}


/* ----- END LEVEL */


	/* ----- NON-FIRST LEVEL */

	ul.dropdown ul {
	 width: 170px;
	 background-color: #436CAA;    /* #333 */
	 color: #EAEBDB;
	 font-size: 14px;
	 text-transform: none;
	}

		ul.dropdown ul li {
		 background-color: transparent;
		 color: #96A6BA;    
		 /* #000 */
		 filter: none;
		}

		ul.dropdown ul li.hover,
		ul.dropdown ul li:hover {
		 background-color: transparent;
		}

		ul.dropdown ul a:link,
		ul.dropdown ul a:visited { color: #EAEBDB; font-weight: 600;}
		ul.dropdown ul a:hover { color: #EAEBDB; text-decoration: none; font-weight: 600;}
		ul.dropdown ul a:active { color: #EAEBDB; font-weight: 600;}


/* ----- END LEVEL */



/*------------------------------------------------------------------------------------------------------/
 * @section	Support Class 'dir'
 * @level sep	ul, .class
 */


/* ----- ALL LEVELS (incl. first) */

ul.dropdown *.dir {
 padding-right: 12px;
 background-image: none;
 background-position: 100% 50%;
 background-repeat: no-repeat;
}

/* ----- END LEVEL */


/* Components override */


ul.dropdown li a {
 display: block;
 padding: 7px 14px;
}


/* ------------- Override default */

	ul.dropdown li {
	 padding: 0;
	}


/* ------------- Reinitiate default: post-override activities  */

	ul.dropdown li.dir {
	 padding: 7px 20px 7px 14px;
	}

	ul.dropdown ul li.dir {
	 padding-right: 15px;
	}


/* ------------- Custom */
                                           s
	ul.dropdown li {

	}

	ul.dropdown ul a {
	 padding: 4px 5px 4px 14px;
	 width: 151px; /* Especially for IE */
	}

	ul.dropdown ul a:hover {
	 background-color: #5F5F5F;    /* hovering over a dropdown line */
	}

	ul.dropdown a.open {
	 background-color: #436CAA; 
	 color: #EAEBDB; 
	 	 filter: alpha(opacity=80);
	 -moz-opacity: .9;
	 KhtmlOpacity: .9;
	 opacity: .9;

	}

	ul.dropdown ul a.open {
	 background-color: #436CAA; 
	 color: #EAEBDB; 
	 	 filter: alpha(opacity=80);
	 -moz-opacity: .9;
	 KhtmlOpacity: .9;
	 opacity: .9;

	}


	/* CSS 2.1 */

	ul.dropdown li:hover > a.dir {
	 background-color: #436CAA;; 
	 color: #EAEBDB; 
	 	 filter: alpha(opacity=80);
	 -moz-opacity: .9;
	 KhtmlOpacity: .9;
	 opacity: .9;

	}

	ul.dropdown ul li:hover > a.dir {
	 background-color: #436CAA; 
	 color: #EAEBDB; 
	 	 filter: alpha(opacity=80);
	 -moz-opacity: .9;
	 KhtmlOpacity: .9;
	 opacity: .9;

	}
	
.TAVSect { position: relative; padding: 0px; width: 680px; height: 125px;  margin-left:25px; padding-right: 10px;
	font-family: Arial, Helvetica, sans-serif; color: Navy;
          background: url(http://www.sandbox1.info/images/downoff.gif)  repeat-x  left top; 
		  border: 1px solid #666; margin-bottom: 10px; }
.TAVSect:hover {  background: url(http://www.sandbox1.info/images/downover.gif)  repeat-x  left top; }
.TAVSect p {   margin: 0px; }
.TAVSect p a { }
.TAVSect p.tt { position: absolute;   left: 20px;   top: 35px; }
.TAVSect p.nu { font-size: 24px;   font-weight: 700;   position: absolute;   left: 9px;   top:3px; color: Gray;}
.TAVSect p.na { font-size: 24px;   font-weight: 700;   position: absolute;   left: 7px;   top:2px; color: #566DFF; }
.TAVSect p.pu { font-size: 12px;   font-weight: 500;   position: absolute;   left: 125px;   top:35px; color: Navy;}
.TAVSect p.px { font-size: 14px;   font-weight: 700;   position: absolute;   left: 135px;   top:105px; color: Blue;}

.TAVhead { position: relative; padding: 0px; width: 680px; height: 70px;  margin-left:25px; padding-right: 10px;
	font-family: Arial, Helvetica, sans-serif; color: Navy;
         }
.TAVhead p {   margin: 0px; }
.TAVhead p.pu { font-size: 14px;   font-weight: 500;   position: absolute; color: Navy;}



.prodIN { position: relative; padding: 0px; width: 610px; height: 112px;  margin-left:25px; 
	font-family: Arial, Helvetica, sans-serif; color: Navy;
         border: 1px solid #666; margin-bottom: 10px; }
.LiknoDiv { position: relative; padding: 0px; width: 680px;   margin-left:25px; padding-right: 10px; }

.LKHead { position: relative; padding: 0px; width: 660px; margin-left: 0px; height: 22px;
	font-family: Arial, Helvetica, sans-serif; color: Navy;
		}
.LKHead p {   margin: 0px; }
.LKHead p a { }
.LKHead p.nu { font-size: 24px;   font-weight: 700;   position: absolute;   left: 2px;   top:1px; color: Gray;}
.LKHead p.na { font-size: 24px;   font-weight: 700;   position: absolute;   left: 0px;   top:0px; color: #566DFF; }
.LKHead p.xc { font-size: 9px;   font-weight:500;   position: absolute;   right: 10px; top: 8px; color: Gray; }

.LKBody ( position: relative; padding: 0px; width: 660px; margin-left: 0px; height: 120px;
	font-family: Arial, Helvetica, sans-serif; color: Navy;
		}
.LKBody p {   margin: 0px; }
.LKBody p a { }
.LKBody p.tt { position: absolute;   left: 20px;   top: 35px; }
.LKBody p.pu { font-size: 12px;   font-weight: 500;   position: absolute;   left: 125px;   top:35px; color: Navy;}
.LKBody p.px { font-size: 14px;   font-weight: 700;   position: absolute;   left: 135px;   top:105px; color: Blue;}

